/* Color naranja de MON: #f7941e*/

body{
    margin: 0;
    background: #fbefdf;
    font-family: kanit;
}

.nav__list{
    background: linear-gradient(to bottom, #cfc2b1, #dfd0bc);
    padding: 10px;
    margin: auto;
    box-shadow: 0 0 5px #666;
    text-align: center;
}

.nav__item{
    display: inline-block;
    box-sizing: border-box;
    margin-left:65px;
    margin-right:65px;
    position: relative;
    bottom:20px;
    padding: 7px;
    color: #7a8370;
    border-radius: 20px;
    font-size: 1.2em;
    text-shadow: 0 0 7px #aaa;
}

.nav__item:hover{
    color: #999;
}

.item--img{
    margin-left:30px;
    margin-right:30px;
    background-color: transparent;
    bottom: 0;
    filter: drop-shadow(0 0 5px #b86f19);
}

.item__link{
    background-color: inherit;
    color:inherit;
    font-family: inherit;
    font-size:inherit;
    text-decoration: none;
}

.details__summary{
    cursor: pointer;
}

.details__list{
    padding: 10px 40px 10px 20px;
    position: absolute;
    width: 185%;
    list-style: none;
    z-index: 10;
    background-color: #d8d8c0;
    border-top: 3px solid #df8615;
    color: #7a8370;
    border-radius: 10px;
    box-shadow: 0 0 7px #777;
}

.details__item{
    margin-bottom: 10px;
    margin-left: 0;
}

.item--link{
    color: inherit;
    text-decoration: none;
}

.titulo{
    text-align: center;
    margin: 0;
    margin-top: 20px;
    font-size: 2.5em;
    color: #c4781d;
    text-shadow: 0 0 3px #684011;
}

.estudios{
    text-align: center;
    padding: 0 25px;
    padding-top: 25px;
    margin-top: 20px;
    margin-bottom: 50px;
}

.estudio{
    display: inline-block;
    position: relative;
    width: 30%;
    height: 285px;
    margin: 0 25px;
    margin-bottom: 30px;
    color: #f2b869;
    font-size: 1.5em;
}

.estudio--resonancia{
    background: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url("Imgs/Resonancia.jpg");
    background-size: cover;
    filter: drop-shadow(0 0 7px #bbb);
}
.estudio--tomografia{
    background: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url("Imgs/Tomografia.jpg");
    background-size: cover;
    filter: drop-shadow(0 0 7px #bbb);
}
.estudio--mamografia{
    background: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url("Imgs/Mamografia.jpg");
    background-size: cover;
    filter: drop-shadow(0 0 7px #bbb);
}
.estudio--ecografia{
    background: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url("Imgs/Ecografia.jpg");
    background-size: cover;
    filter: drop-shadow(0 0 7px #bbb);
}
.estudio--radiologia{
    background: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url("Imgs/Radiologia.jpg");
    background-size: cover;
    filter: drop-shadow(0 0 7px #bbb);
}
.estudio--densitometria{
    background: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url("Imgs/Densitometria.jpg");
    background-size: cover;
    filter: drop-shadow(0 0 7px #bbb);
}

.estudio__link{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /*Ajusta bien la posicion del texto para que esté bien en el centro*/
    font-family: inherit;
    text-decoration: none;
    text-shadow: 0 0 2px #645745;
    font-size: 1.1em;
}
.estudio__link:visited{
    color: inherit;
}
.estudio__link:hover{
    color: #d09f5c;
    text-shadow: 0 0 2px #cb9f61;
}

.turnos{
    background-image: url("Imgs/Turnos.jpg");
    background-color: #0008;
    background-size: cover;
    background-attachment: fixed;
    text-align: center;
    font-size: 1.8em;
    color: #af7a3c;
}

/*Efecto opacidad*/
.opaco{
    height: 100%;
    width: 100%;
    background-color: #0009;
}

.turnos__titulo{
    text-shadow: 0 0 5px #645745;
}

.turnos__info{
    white-space: pre;
    color: #ddd;
    text-shadow: 0 0 3px #666;
}

.portal{
    text-align: center;
}

.portal__img{
    filter: drop-shadow(0 0 5px #645745);
}

.footer{
    background: linear-gradient(to bottom, #cfc2b1, #dfd0bc);
    color: #7a8370;
    position: relative;
    margin-top: 25px;
    min-height: 152px;
}

.footer__item{
    display: inline-block;
    position: absolute;
}

.item__titulo{
    display: block;
    margin-left: 15px;
    color: #7877;
}

.item__text{
    top: 43%;
    left: 5%;
}

.item__link{
    width: 100px;
    height: 100px;
    top: 30%;
    left: 18%;
}

.item__img{
    width: 100%; 
    height: 100%; 
    object-fit: contain;
    filter: drop-shadow( 0 0 5px #aaa);
}

.item__contact{
    top: 40%;
    left: 45%;
}

.contact__link{
    margin:5px;
}

.contact__img{
    width: 35px; 
    height: 35px; 
}

.item__location{
    bottom: 0;
    right: 20px;
}

.location__text{
    display: inline-block;
    margin-right: 10px;
}

.location__link{
    margin-top: 50px;
}
